<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .hello-msg{
          font-size: 18px;
          color: #000;
          margin-right: 20px;
        }
      </style>
</head>
<body>
    <nav>Name
        <span class="hello-msg">Hello, {{request.user}}</span>
  <span ><a  class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
    </nav>
    <h1>Homepages</h1>
</body>
</html>